body {
  background: url(data.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#input {
  width: 400px;
  margin: 0 auto;
  margin-top: 30vh;
  box-shadow: 0 0 16px 7px white;
}