body {
  background: url(data.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  text-decoration: none;
}

#input {
  width: 400px;
  margin: 0 auto;
  margin-top: 30vh;

}

.centered {
    box-shadow: 0 0 16px 7px white;
}


.Hello {
  background: url(mission.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#fort {
  background: url(fort.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#fort-stuff {
  width: 600px;
}

.Hackers {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; 
  background: black;
}



/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
}

#myBtn:hover {
    background: #ddd;
    color: black;
}


.testClass:nth-of-type(1), .testClass:nth-of-type(2), .testClass:nth-of-type(3)  { /* LONG LIVE THE HACK */
  display: none;
}